
    <section class="banner">
      <div
        class="bg-cover bg-center bg-blue-500 text-white relative py-20"
        style="background-image: url('/assets/banners/pantano-de-vargas.jpg')"
      >
        <div class="absolute inset-0 bg-black opacity-50"></div>
        <div class="container mx-auto text-center relative z-1">
          <h1 class="text-4xl md:text-6xl font-bold mb-10 py-10">
            ¡Descubre Boyacá!
          </h1>
          <p class="text-lg md:text-xl mb-2 py-2">
            Que esperas, ven conoce Boyacá, aqui encontraras informacion que te
            apoyara en tu viaje...
          </p>
        </div>
      </div>
    </section>

    <section class="py-12">
        <div class="container mx-auto">
            <div class="flex flex-wrap w-full mb-20">
                <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Atracciones Turísticas</h1>
                  <div class="h-1 w-20 bg-gray-800 rounded"></div>
                </div>
                <p class="lg:w-1/2 w-full leading-relaxed text-gray-700">Boyacá ofrece una variedad de lugares turísticos que muestran la belleza natural, histórica y cultural de la región. Algunos de los destinos más destacados incluyen:</p>
              </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
            <!-- Villa de Leyva -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
              <img
                src="assets/images/atracciones/villa-de-leyva.jpg"
                alt="Villa de Leyva"
                class="w-full h-48 object-cover"
              />
              <div class="p-6">
                <h4 class="text-xl font-bold mb-2">Villa de Leyva</h4>
                <p class="text-gray-700">
                  Hermoso pueblo colonial conocido por su arquitectura y plazas empedradas.
                </p>
              </div>
            </div>
            <!-- Laguna de Tota -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
              <img
                src="assets/images/atracciones/laguna-tota.jpg"
                alt="Laguna de Tota"
                class="w-full h-48 object-cover"
              />
              <div class="p-6">
                <h4 class="text-xl font-bold mb-2">Laguna de Tota</h4>
                <p class="text-gray-700">
                  El lago más grande de Colombia, ideal para actividades al aire libre y disfrutar de la naturaleza.
                </p>
              </div>
            </div>
            <!-- Páramo de Ocetá -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
              <img
                src="assets/images/atracciones/paramo-de-oceta.jpg"
                alt="Páramo de Ocetá"
                class="w-full h-48 object-cover"
              />
              <div class="p-6">
                <h4 class="text-xl font-bold mb-2">Páramo de Ocetá</h4>
                <p class="text-gray-700">
                  Uno de los páramos más hermosos del mundo, perfecto para el senderismo y el ecoturismo.
                </p>
              </div>
            </div>
           
          </div>
        </div>
    </section>
    
<section class="py-12">
    <div class="container mx-auto">
        <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Naturaleza</h1>
              <div class="h-1 w-20 bg-gray-800 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-700">Boyacá ofrece paisajes naturales espectaculares, perfectos para los amantes de la naturaleza y el ecoturismo. Algunos de los lugares más hermosos incluyen:</p>
          </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="\assets\images\naturaleza\cocuy.jpg"
            alt="Parque Nacional Natural El Cocuy"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Parque Nacional Natural El Cocuy</h4>
            <p class="text-gray-700">
              Un paraíso para los montañistas y amantes del senderismo, con paisajes impresionantes de nieve y glaciares.
            </p>
          </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="assets/images/naturaleza/iguaque.jpg"
            alt="Santuario de Fauna y Flora Iguaque"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Santuario de Fauna y Flora Iguaque</h4>
            <p class="text-gray-700">
              Un santuario natural que protege una gran diversidad de flora y fauna, ideal para caminatas y observación de aves.
            </p>
          </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="assets/images/naturaleza/candelaria.png"
            alt="Desierto de la Candelaria"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Desierto de la Candelaria</h4>
            <p class="text-gray-700">
              Paisaje único con formaciones rocosas y un ambiente desértico, perfecto para la exploración y la fotografía.
            </p>
          </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="assets/images/naturaleza/juan-curi.jpg"
            alt="Cascadas de Juan Curi"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Cascadas de Juan Curi</h4>
            <p class="text-gray-700">Hermosas cascadas rodeadas de exuberante vegetación, ideales para un día de aventura y relajación.</p>
          </div>
        </div>
      </div>
    </div>
</section>

  <section class="py-12">
    <div class="container mx-auto">
        <!-- Platos Típicos -->
        <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Platos Típicos</h1>
              <div class="h-1 w-20 bg-gray-800 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-700">La gastronomía de Boyacá es una parte fundamental de su cultura, que refleja la tradición, historia y diversidad de esta región de Colombia. Algunos platos típicos y elementos destacados de la gastronomía boyacense incluyen:</p>
          </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        <!-- Ajiaco -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="assets/images/platos-tipicos/Ajiaco.jpg"
            alt="Ajiaco"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Ajiaco</h4>
            <p class="text-gray-700">
              Sopa espesa de papas, pollo, maíz y hierbas.
            </p>
          </div>
        </div>
        <!-- Fritanga -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="assets/images/platos-tipicos/fritanga.jpg"
            alt="Fritanga"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Fritanga</h4>
            <p class="text-gray-700">
              Variedad de carnes fritas acompañadas de papas y arepas.
            </p>
          </div>
        </div>
        <!-- Trucha -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="assets/images/platos-tipicos/trucha.jpg"
            alt="Trucha"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Trucha</h4>
            <p class="text-gray-700">
              Pescado de agua dulce típico de la región, preparado de diversas formas.
            </p>
          </div>
        </div>
        <!-- Arepa boyacense -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="assets/images/platos-tipicos/arepaboyacense.jpg"
            alt="Arepa boyacense"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Arepa boyacense</h4>
            <p class="text-gray-700">Arepa hecha con maíz amarillo y queso.</p>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="py-12">
    <div class="container mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Festividades en Boyacá</h1>
          <div class="h-1 w-20 bg-gray-800 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-700">Boyacá es conocido por sus coloridas y vibrantes festividades que reflejan la rica cultura y tradiciones de la región. Aquí presentamos algunas de las festividades más destacadas.</p>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        <!-- Card 1 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="/assets/images/festividades/aguinaldo-boyacense.jpg"
            alt="Aguinaldo Boyacense"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Aguinaldo Boyacense</h4>
            <p class="text-gray-700">
              Celebrada en diciembre en Tunja, esta festividad incluye desfiles, conciertos y actividades culturales.
            </p>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="/assets/images/festividades/festival-de-la-luz.jpeg"
            alt="Festival de la Luz"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Festival de la Luz</h4>
            <p class="text-gray-700">
              Un evento mágico en Villa de Leyva con espectaculares exhibiciones de luces y fuegos artificiales.
            </p>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="/assets/images/festividades/festival-del-maiz.jpeg"
            alt="Festival del Maíz"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Festival del Maíz</h4>
            <p class="text-gray-700">
              Celebrado en el municipio de Ramiriquí, este festival rinde homenaje al maíz con desfiles, concursos y muestras gastronómicas.
            </p>
          </div>
        </div>
        <!-- Card 4 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="/assets/images/festividades/festival-de-la-ruana.jpeg"
            alt="Festival de la Ruana"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Festival de la Ruana</h4>
            <p class="text-gray-700">
              Este evento en Nobsa celebra la tradicional ruana boyacense con actividades culturales y artísticas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<section class="py-12">
    <div class="container mx-auto">
        <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Artesanías</h1>
              <div class="h-1 w-20 bg-gray-800 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-700">Las artesanías de Boyacá son reconocidas por su calidad y belleza, reflejando la riqueza cultural y creatividad de sus artesanos. Algunas de las artesanías más destacadas incluyen:</p>
          </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        <!-- Tejidos -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img src="assets\images\artersanias\tejidos.jpeg"
            alt="Tejidos"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Tejidos</h4>
            <p class="text-gray-700">
              Elaborados a mano, utilizando técnicas tradicionales y materiales naturales.
            </p>
          </div>
        </div>
        <!-- Cerámica -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="assets\images\artersanias\ceramica.jpg"
            alt="Cerámica"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Cerámica</h4>
            <p class="text-gray-700">
              Piezas únicas y decorativas, que reflejan la tradición y el arte local.
            </p>
          </div>
        </div>
        <!-- Cestería -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img             src="assets\images\artersanias\cesteria.jpg"
            alt="Cestería"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Cestería</h4>
            <p class="text-gray-700">
              Hechas a mano con fibras naturales, perfectas para la decoración y el uso diario.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="py-12">
    <div class="container mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Actividades</h1>
          <div class="h-1 w-20 bg-gray-800 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-700">Boyacá ofrece una amplia variedad de actividades para disfrutar de la naturaleza, la cultura y la historia de la región. Aquí te presentamos algunas opciones para tu visita.</p>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        <!-- Card 1 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="/assets/images/actividades/senderismo.jpg"
            alt="Senderismo"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Senderismo</h4>
            <p class="text-gray-700">
              Explora los hermosos paisajes de Boyacá a través de sus numerosas rutas de senderismo.
            </p>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="/assets/images/actividades/ciclismo.jpeg"
            alt="Ciclismo"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Ciclismo</h4>
            <p class="text-gray-700">
              Recorre los pintorescos pueblos y paisajes de Boyacá en bicicleta.
            </p>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="/assets/images/actividades/avistamiento.jpg"
            alt="Avistamiento de Aves"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Avistamiento de Aves</h4>
            <p class="text-gray-700">
              Disfruta de la diversidad de aves en los diferentes ecosistemas de Boyacá.
            </p>
          </div>
        </div>
        <!-- Card 4 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="/assets/images/actividades/rafting.jpg"
            alt="Rafting"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Rafting</h4>
            <p class="text-gray-700">
              Desciende por los emocionantes ríos de Boyacá en una experiencia de rafting.
            </p>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="/assets/images/actividades/paseo-a-caballo.jpg"
            alt="Paseo a Caballo"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Paseo a Caballo</h4>
            <p class="text-gray-700">
              Explora los paisajes de Boyacá a caballo, una experiencia tranquila y auténtica.
            </p>
          </div>
        </div>
        <!-- Card 6 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="/assets/images/actividades/visitar-pueblos.jpg"
            alt="Visita a Pueblos"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Visita a Pueblos</h4>
            <p class="text-gray-700">
              Descubre la arquitectura colonial y la cultura de los pueblos boyacenses.
            </p>
          </div>
        </div>
        <!-- Card 7 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="/assets/images/actividades/pesca-deportiva.jpeg"
            alt="Pesca Deportiva"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Pesca Deportiva</h4>
            <p class="text-gray-700">
              Disfruta de la pesca en los ríos y lagos de Boyacá, conocidos por sus truchas.
            </p>
          </div>
        </div>
        <!-- Card 8 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="/assets/images/actividades/visitar-museos.jpg"
            alt="Visita a Museos"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Visita a Museos</h4>
            <p class="text-gray-700">
              Sumérgete en la historia y cultura de Boyacá visitando sus museos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Historia y Cultura -->
<section class="py-12">
    <div class="container mx-auto">
        <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Historia y Cultura</h1>
              <div class="h-1 w-20 bg-gray-800 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-700">Boyacá es una región rica en historia y cultura, con numerosos sitios históricos y tradiciones que se han mantenido a lo largo del tiempo. Algunos aspectos destacados incluyen:</p>
          </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        <!-- Puente de Boyacá -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="assets/images/historia/puente-de-boyaca.jpg"
            alt="Puente de Boyacá"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Puente de Boyacá</h4>
            <p class="text-gray-700">
              Lugar histórico donde se libró una de las batallas más importantes para la independencia de Colombia.
            </p>
          </div>
        </div>
        <!-- Tunja -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="assets/images/historia/tunja.jpg"
            alt="Tunja"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Tunja</h4>
            <p class="text-gray-700">
              Capital del departamento, conocida por su arquitectura colonial y su importancia histórica.
            </p>
          </div>
        </div>
        <!-- Duitama -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="assets/images/historia/duitama.jpg"
            alt="Duitama"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Duitama</h4>
            <p class="text-gray-700">
              Ciudad con una rica historia y cultura, famosa por sus festividades y tradiciones.
            </p>
          </div>
        </div>
        <!-- Monguí -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transition transform hover:-translate-y-1 hover:shadow-2xl">
          <img
            src="assets/images/historia/mongui.jpeg"
            alt="Monguí"
            class="w-full h-48 object-cover"
          />
          <div class="p-6">
            <h4 class="text-xl font-bold mb-2">Monguí</h4>
            <p class="text-gray-700">Pueblo encantador conocido por su puente de piedra y su iglesia colonial.</p>
          </div>
        </div>
      </div>
    </div>
</section>

