
<section class="banner">
    <div
      class="bg-cover bg-center bg-blue-500 text-white relative py-20"
      style="background-image: url('/assets/banners/como-llegar.jpg')"
    >
      <div class="absolute inset-0 bg-black opacity-50"></div>
      <div class="container mx-auto text-center relative z-1">
        <h1 class="text-4xl md:text-6xl font-bold mb-10 py-10">
            Cómo llegar a Boyacá
        </h1>
        <p class="text-lg md:text-xl mb-2 py-2">
            Descubre las mejores formas de llegar a Boyacá, desde cualquier parte del mundo y disfruta de sus maravillas turísticas.
        </p>
      </div>
    </div>
  </section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      
      <div class="flex flex-wrap">
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Vuelo Internacional a Colombia</h2>
          <img class="w-full object-cover object-center mb-4" src="/assets\images\como-llegar\vuelos.jpeg" alt="Aeropuerto Internacional El Dorado">
          <p class="leading-relaxed text-base mb-4">La mayoría de los viajeros internacionales llegan a Colombia a través del Aeropuerto Internacional El Dorado en Bogotá. Este aeropuerto tiene conexiones directas con muchas ciudades principales alrededor del mundo.</p>
        </div>
  
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Transporte desde Bogotá a Boyacá</h2>
          <img class="w-full object-cover object-center mb-4" src="/assets\images\como-llegar\transporte.jpg" alt="Viaje por carretera">
          <p class="leading-relaxed text-base mb-4"><strong>Por carretera:</strong>Boyacá está a unas 2-4 horas de distancia dependiendo del destino específico dentro del departamento.</p>
          <p class="leading-relaxed text-base mb-4"><li><strong>Bus:</strong> Hay varias empresas de transporte que ofrecen servicios de bus desde la terminal de transporte de Bogotá hacia las principales ciudades.</li></p>
          <p class="leading-relaxed text-base mb-4"><li><strong>Automóvil:</strong> Si decides alquilar un automóvil, puedes conducir por la Autopista Norte (Ruta Nacional 55) que conecta directamente con varias ciudades de Boyacá.</li></p>
        </div>

        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Opciones de Transporte dentro de Boyacá</h2>
          <img class="w-full object-cover object-center mb-4" src="/assets\images\como-llegar\transporte-publico.jpg" alt="Transporte dentro de Boyacá">
          <p class="leading-relaxed text-base mb-4"><strong>Buses y Colectivos:</strong> Dentro de Boyacá, hay servicios de buses y colectivos que conectan las distintas ciudades y pueblos.</p>
          <p class="leading-relaxed text-base mb-4"><strong>Taxis y Transporte Privado:</strong> Puedes utilizar taxis o servicios de transporte privado para moverte entre los distintos destinos turísticos.</p>
        </div>
  
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
          <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Recomendaciones</h2>
          <img class="w-full object-cover object-center mb-4" src="/assets\images\como-llegar\recomendaciones.jpeg" alt="Recomendaciones">
          <p class="leading-relaxed text-base mb-4"><strong>Documentos de Viaje:</strong> Asegúrate de tener tu pasaporte y, si es necesario, una visa válida para entrar a Colombia.</p>
          <p class="leading-relaxed text-base mb-4"><strong>Cambio de Moneda:</strong> Puedes cambiar tu moneda a pesos colombianos (COP) en el aeropuerto o en casas de cambio autorizadas.</p>
          <p class="leading-relaxed text-base mb-4"><strong>Seguridad y Salud:</strong> Consulta las recomendaciones de seguridad y salud para viajeros internacionales a Colombia.</p>
        </div>
      </div>
      </div>
  </section>
  